In [1]:
import pandas as pd
import seaborn as sns

In [2]:
dftrain = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')
dftrain

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [3]:
dftest = pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')
dftest

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [4]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
dftrain['Gender'].fillna("Male",inplace=True)

In [6]:
dftrain['Married'].fillna("Yes",inplace=True)

In [7]:
dftrain['Dependents'].fillna("0",inplace=True)

In [8]:
dftrain['Self_Employed'].fillna("No",inplace=True)

In [9]:
dftrain['LoanAmount'].fillna(128,inplace=True)

In [10]:
dftrain['Loan_Amount_Term'].fillna(360,inplace=True)

In [11]:
dftrain['Credit_History'].fillna(1,inplace=True)

In [12]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    object
 2   Married            614 non-null    object
 3   Dependents         614 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      614 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [13]:
dftrain['Loan_Status']=dftrain['Loan_Status'].map({'Y':1,'N':0})

In [14]:
dftrain['Gender']=dftrain['Gender'].map({'Male':1,'Female':0})

In [15]:
dftrain['Self_Employed']=dftrain['Self_Employed'].map({'Yes':1,'No':0})

In [16]:
dftrain['Married']=dftrain['Married'].map({'Yes':1,'No':0})

In [17]:
dftrain['Education']=dftrain['Education'].map({'Graduate':1,'Not Graduate':0})

In [18]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    int64
 2   Married            614 non-null    int64
 3   Dependents         614 non-null    object
 4   Education          614 non-null    int64
 5   Self_Employed      614 non-null    int64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    int64
dtypes: float64(4), int64(6), object(3)
memory usage: 62.5+ KB

In [19]:
x=['Gender','Married','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History']

In [20]:
train_X=dftrain[x]
train_y=dftrain['Loan_Status']

In [21]:
train_y.shape

(614,)

In [22]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(train_X)    # find out min & max value

MinMaxScaler()

In [23]:
train_X=scaler.transform(train_X)

In [24]:
from sklearn.neighbors import KNeighborsClassifier

In [25]:
for i in range(3,12,2):
    model=KNeighborsClassifier(n_neighbors=i,weights="distance")
    model.fit(train_X,train_y)
    per=model.score(train_X,train_y)
    print(" neighbour is {} model accurancy is {}  ".format(i,per))

 neighbour is 3 model accurancy is 1.0
 neighbour is 5 model accurancy is 1.0
 neighbour is 7 model accurancy is 1.0
 neighbour is 9 model accurancy is 1.0
 neighbour is 11 model accurancy is 1.0

In [26]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [27]:
dftest['Gender'].fillna("Male",inplace=True)

In [28]:
dftest['Dependents'].fillna("0",inplace=True)

In [29]:
dftest['Self_Employed'].fillna("No",inplace=True)

In [30]:
dftest['LoanAmount'].fillna(125,inplace=True)

In [31]:
dftest['Loan_Amount_Term'].fillna(360,inplace=True)

In [32]:
dftest['Credit_History'].fillna(1,inplace=True)

In [33]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             367 non-null    object
 2   Married            367 non-null    object
 3   Dependents         367 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      367 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         367 non-null    float64
 9   Loan_Amount_Term   367 non-null    float64
 10  Credit_History     367 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [34]:
dftest['Gender']=dftest['Gender'].map({'Male':1,'Female':0})

In [35]:
dftest['Self_Employed']=dftest['Self_Employed'].map({'Yes':1,'No':0})

In [36]:
dftest['Married']=dftest['Married'].map({'Yes':1,'No':0})

In [37]:
dftest['Education']=dftest['Education'].map({'Graduate':1,'Not Graduate':0})

In [38]:
test_X=dftest[x]

In [39]:
test_X=scaler.transform(test_X)

In [40]:
yp=model.predict(test_X)

In [42]:
model.score(test_X)

TypeError: score() missing 1 required positional argument: 'y'

In [ ]:
sns.heatmap(dftrain.corr(),annot=True)